
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/home/pi

0 3 * * * (iot-upgrade && sudo reboot) > $HOME/upgrade.log 2>&1
*/10 * * * * curl localhost:8000/beds24/
* * * * * curl localhost:8000/knxtemperatures/
* * * * * iot-runtime control >> $HOME/runtime.log 2>&1
* * * * * iot-runtime statespeaker >> $HOME/runtime.log 2>&1
* * * * * iot-runtime fluxtemperatures >> $HOME/runtime.log 2>&1
* * * * * iot-runtime setpoints >> $HOME/runtime.log 2>&1

# needs newline at the end
