
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/home/jaap

0 3 * * * (iot-upgrade && sudo reboot) > $HOME/upgrade.log 2>&1
*/10 * * * * iot-runtime beds24 >> $HOME/runtime.log 2>&1
*/10 * * * * (sleep 30 && iot-runtime setpoint) >> $HOME/runtime.log 2>&1
*/10 * * * * (sleep 30 && iot-runtime customerspeaker) >> $HOME/runtime.log 2>&1
*/10 * * * * iot-runtime modulate >> $HOME/runtime.log 2>&1
* * * * * curl localhost:8000/knxtemperatures/
* * * * * curl localhost:8000/p1/
*/5 * * * * curl localhost:8000/timer/
5 0 * * * curl localhost:8000/timer/midnight/
* * * * * iot-runtime control >> $HOME/runtime.log 2>&1
* * * * * iot-runtime statespeaker >> $HOME/runtime.log 2>&1
* * * * * iot-runtime fluxtemperatures >> $HOME/runtime.log 2>&1
* * * * * iot-runtime setpointspeaker >> $HOME/runtime.log 2>&1
10 15 * * * iot-runtime roomreset >> $HOME/runtime.log 2>&1

# needs newline at the end
